.chat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 90vh;
  background-color: white;
  border-radius: 0 15px 15px 0;
  overflow-y: visible;
  overflow-x: hidden;
}