.post {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(29, 178, 253);
  margin-top: 15px;
  padding: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
  display: flex;
  max-width: 600px;
  background-color: white;
}

.head {
  display: flex;
  justify-content: flex-start;
}

.image {
  box-sizing: border-box;
  margin: 10px 10px 0 5px;
  width: 45px;
  max-width: 45px;
  height: 45px;
  max-height: 45px;
  border-radius: 100px;
  background-color: rgb(100, 152, 242);
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  padding-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 50px;
}

.content {
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
  max-width: 550px;
  width: 550px;
}
